@import "tailwindcss";
@import "tw-animate-css";


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #213547;
  background-color: #ffffff;
  overflow-x: hidden;
}