@import "tailwindcss";
@import "tw-animate-css";

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}